{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        I'm Siming Xiong, a graduate student at New York University's Tandon School of Engineering, 
        with a foundation in Information and Computer Science from Xi'an Jiaotong-Liverpool University. 
        My professional journey includes a role as a Back-end Development Intern at Nanjing BestSoft Technology, 
        where I focused on enhancing user experiences through diligent testing and development.
    </p>
    <p>
        I've led several projects, such as TaskNest and Snake Eyes, 
        leveraging technologies like Flask, MongoDB, and React.js to develop efficient, user-friendly applications. 
        My technical toolkit spans languages like Python, Java, and JavaScript, 
        and frameworks including React, Flask, and Spring Boot, positioning me well for front-end development challenges.
    </p>
    <p>
        Driven by a passion for creating engaging user interfaces, 
        I'm eager to apply my diverse skills to contribute to dynamic and impactful web solutions.
    </p>
</main>
{% endblock %}