{% extends "base.html" %}
{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:sx2298@nyu.edu">
                    sx2298@nyu.edu
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/siming323">
                    @Samuel_Xiong
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Linkedin:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/samuel-xiong">
                    @Samuel_Xiong
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}